/* Carts.css

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    text-align: center;
    
  }
  
  div {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;

  }
  .del {
    color: rgb(144, 21, 21);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }
  .res{
    color: rgb(21, 144, 21);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  .del:hover{
    background-color: rgb(144, 21, 21);
    color: white;

  }
    .res:hover{
        background-color: rgb(21, 144, 21);
        color: white;

    }
    .btn{
        background-color: rgb(21, 144, 21);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .btn:hover{
        background-color: rgb(173, 185, 173);
        color: white;
    }
  
   */
